.round-image {
  border-radius: 50%;
}

@media print {
   .noprint {
      visibility: hidden;
      display: none;
   }
   .content {
      padding: 0;
      margin: 0;
      line-height: 1.2;
      font-size: 16px;
   }
   @page {
    margin: 1.5em 1.25em 1em 1.25em;

   }
}

.wrapper {
  margin-bottom: 1em;
  break-inside: avoid-page;
}

.wrapper .left {
  border-left: 5px solid gray;
  padding-top: 0.25em;
  padding-left: 0.5em;
}

.wrapper.first .left {
  padding-top: 0;
}


.wrapper .header {
  display: flex;
  margin-bottom: 0.5em;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.wrapper .descr {
  text-align: justify;
}

.left {
  float: left;
  margin-left: 0px;
}

.right {
  float: right;
  margin-right: 50px;
}

ul {
  margin-top: 0.5em;
  margin-bottom: 1em;
  margin-left: 0em;
  padding-left: 1.5em;
}

#linkedin {
  align-items: center;
  display: flex;
}

#email {
  align-items: center;
  display: flex;
}

#github {
  align-items: center;
  display: flex;
}

#phone {
  align-items: center;
  display: flex;
}

.inline-icon {
  display: inline;
  height: 24px;
  margin-bottom: 0em;
  margin-right: 0.5em;
}

.cv-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
}

.cv-header #contact {
  line-height: 1.7;

}

.left {
  float: left;
  margin-left: 0px;
}

.right {
  float: right;
  margin-right: 0px;
}

ul#skills {
  display: flex;
  flex-wrap: wrap;
}

ul#skills li {
  flex: 0 0 50%; /* Each list item takes up 50% of the width */
  box-sizing: border-box;
  text-align: left;
}

ul#projects {
  display: flex;
  flex-wrap: wrap;
}

ul#projects li {
  flex: 0 0 40%; /* Each list item takes up 50% of the width */
  box-sizing: border-box;
  text-align: left;
}

h1, h2, h3 {
  margin-top: 0rem;
}

p {
  margin-bottom: 0.5em;
}